.question {
  display: block;
  margin-bottom: 10px;
}

.question-name {
  border-top: 3px solid #F4A261;
  border-right: 3px solid #F4A261;
  border-left: 3px solid #F4A261;
  border-radius: 5px 5px 0 0;
  background-color: #E9C46A;
}
